html, body {
    height: 100%;
}

body {
    background-color: #546e7a;
}

.pg-title {
    margin: 15px;
    text-align: center;
    color: whitesmoke;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Tabuleiro, organizado em linhas */
[board] {
    width: 450px;
    height: 450px;
    margin: 20px;
    background-color: whitesmoke;
}

/* Linhas do tabuleiro, organizadas em colunas */
[chess-row] {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 12.5%;
}

/* Casas do jogo */
div[chess-square] {
    box-sizing: border-box;
    flex-basis: 12.5%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

}

div[chess-square]:hover {
    border-style: inset;
    border: solid #546e7a;
}

/* Definição das cores das casas */
/* Todas as casas ímpares de uma linha ímpar serão escuras */
/* Todas as casas pares de uma linha par serão escuras */
div[chess-row]:nth-child(odd) >
div[chess-square]:nth-child(odd),
div[chess-row]:nth-child(even) > 
div[chess-square]:nth-child(even)  {
    background-color: #29434e;
}
/* Todas as casas pares de uma linha ímpar serão escuras */
/* Todas as casas ímpares de uma linha par serão escuras */
div[chess-row]:nth-child(odd) >
div[chess-square]:nth-child(even),
div[chess-row]:nth-child(even) >
div[chess-square]:nth-child(odd) {
    background-color: #e1e9ec;
}

aside {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-basis: 10%;
    background-color: whitesmoke;
}

.cursor {
    cursor: pointer;
}

.img-part {
    width: 30px;
    height: 30px;
}

.walk-option {
    background: #6ec6ffad;
    height: 60%;
    width: 60%;
    margin: auto;
    border-radius: 100px;
}

.kill-option {
    position: absolute;
    background: #886d6dad;
}

.check {
    background: #ff6e6ead !important;
}

.hide {
    display: none;
}

#check-kill {
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: #1e88e5;
    color: whitesmoke;
    text-align: center;
    padding-top: 40px;
    box-sizing: border-box;
    border-radius: 10px;

    left: calc(50% - 200px);
    top: calc(50% - 100px)
}